//BreakPoints
$screen-md-min: "min-width:992px";
$screen-md-max: "max-width:991px";

$screen-sm-min: "min-width:768px";
$screen-sm-max: "max-width:767px";

$screen-xs-min: "min-width:480px";
$screen-xs-max: "max-width:479px";

$screen-tablet-break: "max-width:991px) and (min-width: 768px";
$screen-mobile-break: "max-width:767px) and (min-width: 480px";