@import "../../../../styles/index";

.vacation-list {
    @media ($screen-sm-min) {
        width: 70%;
    }
    @media ($screen-sm-max) {
        width: 100%;
    }
    .vacation-link {
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        text-align: center;
        @media ($screen-sm-min) {
            width: 69%;
        }
        @media ($screen-sm-max) {
            flex-direction: column;
        }
        @media ($screen-mobile-break) {
            width: 70%;
        }
        @media ($screen-xs-max) {
            width: 95%;
        }

        &__add {
            padding: 10px;
            background-color: #47a5ea;
            border-radius: 5px;
            text-decoration: none;
            font-size: 16px;
            color: #fff;
            font-family: $fontPoppins;
            @media ($screen-xs-max) {
                width: 95%;
            }
            &:hover {
                background-color: #3889c5;
            }
        }
    }
}
.vacations {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__card {
        padding: 15px;
        margin: 15px auto;
        position: relative;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        @media ($screen-xs-min) {
            width: 65%;
        }
        @media ($screen-xs-max) {
            width: 88% ;
            flex-direction: column;
        }
        .date {
            display: inline-flex;
            flex-direction: column;
            font-size: 16px;
            font-family: $fontPoppins;
            @media ($screen-xs-min) {
                width: 40%;
            }
            @media ($screen-xs-max) {
                width: 100%;
                padding: 0 0 10px;
            }
            .title {
                color: $baseColor;
            }
            &__start-date, &__end-date {
                @media ($screen-xs-max) {
                    width: 100%;
                    display: inline-flex;
                    justify-content: space-between;
                }
            }
        }
        .description {
            color: $baseColor;
            font-size: 16px;
            font-family: $fontPoppins;
            @media ($screen-xs-min) {
                width: 50%;
            }
            @media ($screen-xs-max) {
                width: 100%;
            }
        }
        .buttons{
            display: none;
        }
        &:hover{
            cursor: pointer;
            .buttons {
                width: 100%;
                border-radius: 5px;
                position: absolute;
                display: inline-flex;
                align-items: center;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: #f7f7f7d6;
                @media ($screen-sm-min) {
                    justify-content: center;
                }
                @media ($screen-sm-max) {
                    justify-content: space-around;
                }

            }
        }
    }
}