.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: visible;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }

.modal-window {
    width: 40%;
    margin: 40px auto;
    padding: 20px;
    position: relative;
    background: #fff;
    border-radius: 5px;
    transition: all 5s ease-in-out;
    &__header{
      width: 100%;
      padding: 0 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon-close {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }