@import "../../styles/index.scss";
.header-block {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 20%;
        display: inline-flex;
        align-items: center;
        img {
            width: 20px;
            align-self: center;
        }
    }
    &__logo-title {
        font-size: 30px;
        font-family: $fontPoppins;
        color: #31af91;
    }
    &__user {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        .avatar {
            width: 20px;
            padding: 0 10px 0 0;
        }
        .full-name {
            text-align: center;
            font-size: 16px;
            font-family: $fontPoppins;
            color: $baseColor;
        }
    }
}