@import "../../../styles/index.scss";

.success-btn {
    width: 100%;
    height: 35px;
    margin: 0 auto;
    color: $baseLightColor;
    font-size: 16px;
    border: none;
    border-radius: $baseBorderRadius;
    background: linear-gradient(270deg,#2caf92,#1e6d68);
    outline: none;
    &:hover {
        cursor: pointer;
        background: linear-gradient(90deg,#20776f,#33cca5);
        box-shadow: 0 6px 10px 0 rgba(48,187,154,.35);
    }
}
.back-btn {
    width: 75px;
    margin: 15px 0;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    color: $baseColor;
    text-decoration: none;
    font-family: $fontPoppins;
    border: 1px solid $baseColor;
    border-radius: $baseBorderRadius;
    &:hover {
        color: $baseLightColor;
        background-color: $baseColor;
    }
}

.btn-link {
    position: absolute;
    right: 0;
    &__edit {
        width: 20px;
        padding: 10px 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #57bea5;
        border-radius: 50px;
        &:hover{
            cursor: pointer;
            box-shadow: 0 6px 10px 0 rgba(48,187,154,.35);
        }
    }
}

.btn-default {
    padding: 10px;
    background-color: #47a5ea;
    border-radius: $baseBorderRadius;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-family: $fontPoppins;
    @media ($screen-xs-max) {
        width: 95%;
    }
    &:hover {
        background-color: #3889c5;
    }
}
.btn-circle {
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 50%;
    @media ($screen-sm-min) {
         margin: 0 30px 0 0;
    }
    &:hover {
        border-color: #0b3370;
    }
}
.btn-details {
    border: 1px solid #17a2b8;
}
.btn-edit {
    border: 1px solid #57bea5;
}
.btn-delete {
    border: 1px solid #dc3545;
}