@import "../../styles/index.scss";
.user-info {
    min-width: 245px;
    max-height: 500px;
    width: 20%;
    margin: 15px 0;
    padding: 30px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    @media ($screen-sm-max) {
        align-self: center;
    }
    &__avatar {
        width: 120px;
    }
    &__details {
        width: 60%;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .title {
        font-size: 20px;
        color: $baseColor;
        font-family: $fontPoppins;
    }
    .full-name, .balance, .email, .hired-date {
        &__info {
            color: $userInfoColor;
            font-weight: 400;
            font-size: 16px;
            font-family: $fontPoppins;
        }
    }
    .link {
        position: absolute;
        right: 70px;
        top: 35px;
        &__edit {
            width: 20px;
            padding: 10px 8px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #57bea5;
            border-radius: 50px;
            &:hover{
                box-shadow: 0 6px 10px 0 rgba(48,187,154,.35);
            }
        }
    }
}